---
# handlers file for kube
- name: restart kubelet
  ansible.builtin.service:
    name: kubelet
    state: restarted
- name: restart containerd
  ansible.builtin.service:
    name: containerd
    state: restarted