{{ ansible_managed | comment }}
{% if dns.search is defined %}
search {{ dns.search }}
{% endif %}
{% if dns.nameservers is defined %}
{% for nameserver in dns.nameservers %}
nameserver {{ nameserver }}
{% endfor %}
{% endif %}