apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: "systemd"
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: "{{ kube.version }}"
controlPlaneEndpoint: "127.0.0.1:8443"
apiServer:
  certSANs:
    - "127.0.0.1"
    - "10.0.0.1"
    - "10.0.0.2"
    - "k8s-api.{{ domain_name }}"
    - "k8s-api.{{ cluster_name }}.{{ domain_name }}"
networking:
  dnsDomain: {{ kube_dns_domain }}
  podSubnet: {{ kube_pod_cidr }}
  serviceSubnet: {{ kube_service_cidr }}
