---
- name: Repos
  block:
    - name: EPEL
      ansible.builtin.package:
        name: epel-release
        state: latest
    - name: Docker
      ansible.builtin.yum_repository:
        name: docker-ce-stable
        description: Docker
        baseurl: "https://download.docker.com/linux/centos/$releasever/$basearch/stable"
        gpgkey: "https://download.docker.com/linux/centos/gpg"
        gpgcheck: yes
        enabled: yes
  notify: dnf makecache

- name: Update system
  ansible.builtin.command: dnf update -y

- name: Install base packages
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  with_items: "{{ base_packages }}"